@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Cantata+One);

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    min-width: 300px; 
    overflow-x: hidden; 
  text-align: center;

}


form {
  margin: 0 auto;
  text-align: center;
  display: none;
}

h1 {
  font-family: 'Cantata One', serif;
  font-size: 16pt;

}

h1 span {
  font-family: 'Lato', sans-serif;
  font-size: 10pt;

}

input[type="text"], textarea {
font-family: 'Lato', sans-serif;
  margin: 0 0 0.2rem 0;
  padding: 0.3rem;
  outline: none;
  width:80%;
   outline: none;
    border:solid 1px grey;
}
input#save { 
  position: relative;
  vertical-align: top;
  text-transform: uppercase;
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  color: white;
  background: #95ced5;
  border: 0;
  border-bottom: 2px solid #95ced5;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #95ced5;
  box-shadow: inset 0 -2px #95ced5;
  outline:none;
}

input.read {
  width: 15px;
}

select {
  text-transform: capitalize;
}

.loggedIn {
  display:none;
}

footer a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  outline:none;
}
